
@font-face {
    font-family: pipboy-text;
    src: url(../fonts/monofonto/monofonto.ttf);
}

@font-face {
    font-family: pipboy-logo;
    src: url(../fonts/wide-glide/Wideg___.ttf);
}

body {
  overflow: hidden;
}

.pipos-content-box {
  padding: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #000000;
}

.pipos-bg-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 1;
}

.pipos-light-box {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 100px 20px rgba(11,97,33,0.8);
  -moz-box-shadow: inset 0px 0px 100px 20px rgba(11,97,33,0.8);
  box-shadow: inset 0px 0px 100px 20px rgba(11,97,33,0.8);
}

.pipos-bg-stipe {
  position: relative;
  height: 20px;
  width: 100%;
  border: 1px solid #000000;
  opacity: 1;
}

.pipos-bg-stipe-standard {
  z-index: 1;
  background-color: #0B1907;
  opacity: 0.3;
}

.pipos-bg-stipe-active {
  z-index: 1;
  border-top: 0px solid #0B1907;
  border-bottom: 0px solid #0B1907;
  -webkit-box-shadow: 0px 0px 240px 139px rgba(11,97,33,1);
  -moz-box-shadow: 0px 0px 240px 139px rgba(11,97,33,1);
  box-shadow: 0px 0px 240px 139px rgba(11,97,33,1);
  background-color: rgba(11,97,33,1);
}

.pip-text {
  font-family: pipboy-text;
  color: #81F79F;
}

.pip-logo {
  position: absolute;
  left: 50%;
  top: 65%;
  margin-left: -200px;
  margin-top: -200px;
  width: 400px;
  height: 400px;
  text-align: center;
  z-index: 10;
}

.pip-logo-icon {
  position: absolute;
  color: #81F79F;
  font-size: 250px !important;
  margin-left: -110px;
  margin-top: 2px;
}

.pip-logo-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  left: 50%;
  top: 3%;
  margin-left: -118px;
  width: 230px;
  height: 230px;
  background-color: #000000;
  border-radius: 112px;
  text-align: center;
  opacity: 0.8;
}

.pip-logo-wing {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
}

.pip-logo-wing-1 {
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -200px;
  width: 400px;
  height: 30px;
  background-color: #81F79F;
  text-align: center;
}

.pip-logo-wing-2 {
  position: absolute;
  left: 50%;
  top: 29%;
  margin-left: -175px;
  width: 350px;
  height: 30px;
  background-color: #81F79F;
  text-align: center;
}

.pip-logo-wing-3 {
  position: absolute;
  left: 50%;
  top: 38%;
  margin-left: -150px;
  width: 300px;
  height: 30px;
  background-color: #81F79F;
  text-align: center;
}

.pip-title {
  position: absolute;
  top: -10%;
  margin-left: -180px;
  font-family: 'pipboy-logo';
  color: #81F79F;
  font-size: 46px;
}

.pip-os-bootstrap-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  margin-top: 10px;
  padding-bottom: 80px;
}

.pip-card {
  background-color: rgba(10,42,18,0.5) !important;
  border-left: 1px solid #81F79F !important;
  border-right: 1px solid #81F79F !important;
  border-top: 1px solid #0A2A12 !important;
  border-bottom: 1px solid #0A2A12 !important;
  margin-bottom: 5px !important;

  -webkit-box-shadow: 0px 0px 20px 2px rgba(11,97,33,0.4);
  -moz-box-shadow: 0px 0px 20px 2px rgba(11,97,33,0.4);
  box-shadow: 0px 0px 20px 2px rgba(11,97,33,0.4);
}

.pip-card-title {
  border-bottom: 1px solid #81F79F !important;
  font-size: 13px;
}

.pip-card-text {
  font-size: 13px;
}

.pip-card-body {
  padding: 10px !important;
}

.pip-clickable {
  cursor: pointer;
}

.pip-terminal {
  background-color: transparent !important;
  font-family: pipboy-text !important;
  color: #81F79F !important;
}

.pip-terminal .cmd {
  background-color: transparent !important;
  font-family: pipboy-text !important;
  color: #CEF6CE !important;
  display: none !important;
}

.pip-clickable:hover{
  background-color: #81F79F;
  color: #000000;
}

.text-red {
  color: #FA5858;
}

.pip-terminal pre {
  border: 1px dotted #81F79F !important;
  border-radius: 5px !important;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  color: #81F79F !important;
}

button.btn i.pull-left {
  margin-top: 3px;
}

#pip-wireframe {
  z-index: 11;
}

.pip-modal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.pip-modal .pip-card {
  border: 1px solid #81F79F !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  -webkit-box-shadow: 0px 0px 60px 30px rgba(11,97,33,0.6);
  -moz-box-shadow: 0px 0px 60px 30px rgba(11,97,33,0.6);
  box-shadow: 0px 0px 60px 30px rgba(11,97,33,0.6);
  max-height: 400px;
  overflow: scroll;
}

.pip-info-text {
  color: #868e96!important;
  font-size: 12px;
}

.pip-modal-fullsize {
  position: fixed !important;
}

input.pip-control,
input.pip-control:focus,
textarea.pip-control,
textarea.pip-control:focus,
select.pip-control,
select.pip-control:focus
{
  border: 1px dashed #81F79F !important;
  border-radius: 2px !important;
  background-color: #000000;
  color: #81F79F !important;
  font-size: 12px !important;
}

.pip-validation-error {
  border: 1px solid #ff0000 !important;
  border-radius: 4px;
  padding: 4px;
}

.pip-validation {
  color: #ff0000 !important;
  display: block;
}

.pip-tabs {
  border-bottom: 1px solid #81F79F !important;
}

.pip-tabs .active {
  background-color: #81F79F !important;
  color: #000000 !important;
  border-color: #000000 !important;
  border-bottom: 1px solid #81F79F !important;
}

.pip-tabs .nav-item {
  background-color: transparent !important;
  border: 1px dotted #81F79F !important
  color: #ffffff !important;
}

.pip-tabs .nav-item:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}

.pip-tabs a {
  color: #81F79F !important;
}

.pip-table {
  font-size: 12px !important;
  color: #81F79F !important;
}

.pip-table thead {
  background-color: #0A2A12 !important;
  color: #ffffff !important;
}

.pip-table thead th {
  border: 1px solid #0B610B;
}

.pip-table tbody td {
  border: 1px solid #0B610B;
}

.pip-table tbody tr:hover {
  color: #000000 !important;
  background-color: #81F79F !important;
}
